{% extends '/layout/base.html' %}

{% block extend_head %}
    <style type="text/css" media="screen">
        .wf_dashboard {
            padding-top: 20px;
        }
    </style>
{% endblock extend_head %}

{% block main %}
    <div class="uk-container uk-container-center wf_dashboard">
        <div class="uk-grid">
            <div class="uk-width-medium-1-6 wf_sidebar">
                <div class="uk-panel uk-panel-box">
                    <ul class="uk-nav uk-nav-side">
                        <li id="admin_all">
                            <a href="#"><i class="uk-icon-gears"></i> 所有</a>
                            <!-- <div>
                                <ul class="uk-nav-sub">
                                    <li><a href="">分类</a></li>
                                </ul>
                            </div> -->
                        </li>
                        <li><a href="/post/new_post"><i class="uk-icon-pencil"></i> 新建</a></li>
                        <li><a href="/admin/logout"><i class="uk-icon-sign-out"></i> 注销</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-medium-5-6 wf_main">
                {% block right_content %}{% endblock right_content %}
            </div>
        </div>
    </div>
{% endblock main %}
