{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block main %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 300px;">
            <form id="login_form" action="/admin/login" method="post" class="uk-panel uk-panel-box uk-form">
                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="text" id="username" placeholder="Username">
                </div>
                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="password" id="password" placeholder="Password">
                </div>
                <div class="uk-form-row">
                    <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" onclick="login()">登录</a>
                </div>
<!--                 <div class="uk-form-row uk-text-small">
                    <label class="uk-float-left"><input type="checkbox"> Remember Me</label>
                    <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>
                </div> -->
            </form>
        </div>
    </div>
{% endblock main %}

{% block extend_foot %}
    <script type="text/javascript">
         function login() {
             var username = $('#username').val();
             var password = $('#password').val();
             $.post('/admin/login',
                    {
                        'username': username,
                        'password': password,
                        '_csrf': '{{ request.session.get_csrf_token() }}'
                    },
                    function (data) {
                        if (data.success == 'success') {
                            document.location
                        }
                    }

         )
         }
    </script>
{% endblock extend_foot %}
