{% extends 'base.html' %}

{% block title %}post title {% endblock title %}


{% block main %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <div class="uk-width-1-1">
            <article class="uk-article">

                <h1 class="uk-article-title">Article Heading</h1>

                <p class="uk-article-meta">Written by Author on 12 April 2013. Posted in <a href="layouts_blog.html">Blog</a></p>

                <p><img src="" width="900" height="300" alt=""></p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h2>Subheading</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
        </div>
        
    </div>
{% endblock main %}
