{% extends '/layout/base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block extend_head %}
<link rel="stylesheet" href="{{ request.static_url('wf_blog:static/pen/pen.css') }}" type="text/css">
<link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/post.css') }}" type="text/css">
{% endblock extend_head %}


{% block main %}
    <div class="uk-width-1-1 artical_content">
        <div data-toggle="pen">
            <div class="info" style="float: right; vertical-align: middle">
                <ul class="uk-list">
                <li><i class="uk-icon-clock-o"></i>  {{ post.add_time.strftime('%Y-%m-%d %H:%M:%S') }}</li>
                <li><i class="uk-icon-folder-o"></i>  {{ post.category }}</li>
                </ul>
            </div>
            {{ post.content|safe }}
        </div>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ post._id }}" data-title="{{ post.title }}" 
        data-url="/post/detail/{{ post._id }}"></div>
        <!-- 多说评论框 end -->
    </div>
    {% if last %}
    <div class="btn-set distraction-free-component" style="float: left; margin-left: 10%;">
        <a class="btn btn-primary btn-publish" title="Last One" href="/post/detail/{{ last._id }}" >上一篇</a>
    </div>
    {% endif %}
    {% if next %}
    <div class="btn-set distraction-free-component" style="float: right; margin-right: 10%;">
        <a class="btn btn-primary btn-publish" title="Next One" href="/post/detail/{{ next._id }}">下一篇</a>
    </div>
    {% endif %}
{% endblock main %}

{% block extend_foot %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"wufanflora"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
{% endblock extend_foot %}
