{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block extend_head %}
<link rel="stylesheet" href="{{ request.static_url('wf_blog:static/pen/pen.css') }}" type="text/css">
<link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/post.css') }}" type="text/css">
{% endblock extend_head %}


{% block main %}
    <div class="uk-width-1-1 artical_content">
        <div data-toggle="pen">
            <div class="info" style="float: right; vertical-align: middle">
                <ul class="uk-list">
                <li><i class="uk-icon-clock-o"></i>  {{ post.add_time.strftime('%Y-%m-%d %H:%M:%S') }}</li>
                <li><i class="uk-icon-folder-o"></i>  {{ post.category }}</li>
                </ul>
            </div>
            {{ post.content|safe }}
        </div>
    </div>
{% endblock main %}
