<!DOCTYPE html>
<html class="uk-height-1-1">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="http://wf-blog.qiniudn.com/favicon.jpeg" type="image/x-icon">
        <link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/uikit.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/uikit.almost-flat.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/uikit.gradient.min.css') }}" type="text/css">
        <!-- <link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/default.css') }}" type="text/css"> -->
        <link rel="stylesheet" href="http://wf-blog.qiniudn.com/default.css" type="text/css">
        <!-- <script src="{{ request.static_url('wf_blog:static/js/jquery-1.11.0.min.js') }}"></script> -->
        <script src="http://wf-blog.qiniudn.com/jquery-1.11.0.min.js"></script>
        <script src="{{ request.static_url('wf_blog:static/js/uikit.min.js') }}"></script>
        {% block extend_head %}{% endblock extend_head %}
    </head>
    <body class="uk-height-1-1">
        <nav class="tm-navbar uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">
                <!-- <a class="uk-navbar-brand uk-hidden-small" href="/">
                    <img class="uk-margin uk-margin-remove" src="{{ request.static_url('wf_blog:static/image/logo.jpg')}}"
                    style="width: 90px; height: 43px;" title="" alt="">
                </a> -->

                <ul class="uk-navbar-nav uk-hidden-small">
                    <li><a href="/"><i class="uk-icon-home"></i> Home</a></li>
                    <li><a href="/admin/all_posts"><i class="uk-icon-gears"></i> Admin</a></li>
                    <li><a href="/firework"><i class="uk-icon-fire"></i> Firework</a></li>
                </ul>

                <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

                <div class="uk-navbar-brand uk-navbar-center uk-visible-small"></div>

            </div>
        </nav>
        {% block main %}
        {% endblock main %}
        <div class="uk-grid ">
            <div class="uk-width-1-1" style="text-align: center">© 2014 Flora Wu</div>
        </div>
        <script type="text/javascript">
           //google analysis 
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-50407467-1', 'florawufan.info');
          ga('send', 'pageview');
        </script>
        {% block extend_foot %}{% endblock extend_foot %}
    </body>
</html>
