{% extends "/layout/base.html" %}

{% block title %}Happy Birthday for Wu Fan {% endblock title %}

{% block extend_head %}
    <!-- If Chrome Frame is enabled, let's use it! -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!-- Load Canvas support for IE8 and below (IE9 support Canvas) -->
    <!--[if lt IE 9]><script src="canvas/excanvas.js"></script><![endif]-->
    <!-- <link type="text/css" href="{{ request.static_url('wf_blog:static/firework/fireworks.css') }}" rel="stylesheet"> -->
    <link type="text/css" href="http://wf-blog.qiniudn.com/fireworks.css" rel="stylesheet">
{% endblock extend_head %}

{% block main %}
    <script type="text/javascript">
        // we need a full screen canvas, but the canvas tag doesn't support percentage widths
        // so we simply write out the canvas tag using javascript
        document.write('<div style="background:url({{request.static_url('wf_blog:static/image/background.jpg') }}) repeat-x;position:absolute;left:0;top:'+($(window).height()-193)+'px;width:100%;height:200px;"></div>');
        document.write('<canvas id="cv" width="'+$(window).width()+'" height="'+($(window).height()-100)+'" style="position:absolute;left:0;top:0;"></canvas>');
        // obviously, this become wrong if the browser window changes size
        // so we simply reload the page on resize
    </script>
    <audio autoplay loop name='media' height="0" width="0" id="id_firework">
        <source src="http://wf-blog.qiniudn.com/wf_blogfirework.mp3" type="audio/mpeg">
    </audio>
    <audio autoplay loop name='media' height="0" width="0">
        <source src="http://wf-blog.qiniudn.com/wf_blogsilent.mp3" type="audio/mpeg">
    </audio>

    <div id="form">
        <form onsubmit="FireworkDisplay.launchText();return false;">
            <div>
                <!-- <span class="boxtext">Enter your own message and click Launch to see it written in Fireworks over London</span><br/> -->
                <input id="firetext" type="hidden" value="Happy Birthday To You! --mutoulbj"/>
                <input id="launch" type="submit" value="重新播放!"/>
            </div>
            <div>
                <span class="boxtext">是主人？</span><br/>
                <a href='/admin/all_posts' class="uk-button uk-button-primary">控制台</a>
            </div>
            <div>
                <span class="boxtext">游客？</span><br/>
                <a href='/' class="uk-button uk-button-success">去首页</a>
            </div>
            <!-- <div>
                <span id="sendlink" class="boxtext">Forward:</span><input type="text" id="url" name="url"/>
            </div> -->
        </form>
    </div>
    
    <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-6696309-2");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
{% endblock main %}
{% block extend_foot %}
       <!-- jQuery UI is only used for the nice slider controls -->
    <!-- <script type="text/javascript" src="{{ request.static_url('wf_blog:static/firework/jquery-ui.js') }}"></script> -->
    <script type="text/javascript" src="http://wf-blog.qiniudn.com/jquery-ui.js"></script>

    <!-- Load the fireworks script and stylesheet -->
    <!-- <script type="text/javascript" src="{{ request.static_url('wf_blog:static/firework/fireworks.js') }}"></script> -->
    <script type="text/javascript" src="http://wf-blog.qiniudn.com/fireworks.js"></script>
{% endblock extend_foot %}