{% extends '/layout/base.html' %}

{% block title %}首页{% endblock title %}

{% block extend_head %}
    <!-- <link rel="stylesheet" href="{{ request.static_url('wf_blog:static/css/index.css') }}" type="text/css"> -->
    <link rel="stylesheet" href="http://wf-blog.qiniudn.com/index.css" type="text/css">
{% endblock extend_head %}

{% block main %}
    <div id="instructions_container">
    	使用 'J' 和 'K' 键来跳转时间线.
    </div><!-- of #instructions_container -->
    <div id="timeline_container">
    	<header>
    		<figure>
    			<!-- <img src="{{ request.static_url('wf_blog:static/image/wf.jpg') }}"
                 title="巫小喵" alt="巫小喵" style="width: 300px"/> -->
                 <img src="http://wf-blog.qiniudn.com/wf.jpg"
                 title="巫小喵" alt="巫小喵" style="width: 300px"/>
    		</figure>
            <h1>Flora Wu <br/> @巫小喵</h1>
    	</header>
        <!-- timeline start -->
    	<ul>
            {% for p in posts %}
    		<li class="event">
    			<div class="event_icn"></div>
    			<div class="event_content">
    				<h2 class="post_title"><a href="/post/detail/{{ p._id }}">{{ p.title }}</a></h2>
    			</div>
    			<div class="event_date">
    				{{ p.add_time.strftime('%Y-%m-%d %H:%M:%S') }}
    			</div>
    		</li>
            {% endfor %}
    	</ul>
    </div><!-- of #timeline_container -->


<div id="info_container">
		i
</div><!-- of #info_container -->
{% endblock main %}

{% block extend_foot %}
<!-- <script src="{{ request.static_url('wf_blog:static/js/index.js') }}"></script> -->
<script src="http://wf-blog.qiniudn.com/index.js"></script>
{% endblock extend_foot %}
